@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --dark-navy: #242742;
  --pale-navy: #36384D;
  --gray: #D8D8D8;
  --gradient-0: #FF6A3A;
  --gradient-100: #FF527B;
  --input-bgcolor: #FFECEA;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  width: 100%;
}

.btn {
  width: 100%;
  padding: 1.18rem;
  border-radius: 0.4rem;
  border: none;
  background-color: var(--dark-navy);
  color: #fff;
  font-weight: 900;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(var(--gradient-0), var(--gradient-100));
}

.email__input {
  padding: 1.13em;
  margin-bottom: 1.5rem;
  border-radius: .4rem;
  border: 1px solid var(--gray);
  font-size: 16px;
}

h1 {
  color: var(--dark-navy);
}

/* Error message styles */
.error__state {
  border: 1px solid var(--gradient-0);
  background-color: var(--input-bgcolor);
  
  &::placeholder {
    color: var(--gradient-0);
  }
}

p.error__message {
  color: var(--gradient-0);
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  right: 0;
  top: 0;
}

/* Mobile styles */
.main__card {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 1rem;

  h1 {
    font-size: 2.5em;
    margin-bottom: 1.5rem;
  }

  .description {
    margin-bottom: 1.5rem;
  }

  .main__card-info {
    padding: 2rem 1.46rem;
  }

  li {
    list-style: none;
    margin-bottom: 0.6rem;
    display: flex;

    &::before {
      content: url(/assets/images/icon-list.svg);
      padding-right: 1rem;
      vertical-align: middle;
    }
  }

  form {
    position: relative;
    margin-top: 2rem;

    .group-form {
      display: flex;
      flex-direction: column;

      label {
        font-size: 12px;
        font-weight: 900;
        margin-bottom: .5rem;
        color: var(--dark-navy);
      }
    }
  }

}

.hidden {
  display: none;
}

@media (min-width: 780px) {
  body {
    background-color: var(--pale-navy);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .main__card {
    flex-direction: row;
    background-color: #fff;
    border-radius: 2.25rem;
    padding: 0;

    h1 {
      font-size: 3.5rem;
    }
    
    .main__card-info {
      padding: 4rem 3.8rem 0 3.8rem;
      width: 480px;
      margin: 2rem 1rem 0 0;

      form {
        position: relative;

        label {
          margin-bottom: 0.6rem;
        }
      }
    }

    ul { 
      margin: 1.2rem 0;
    }

    figure {
      padding: 1.5rem 1.5rem 1.5rem 0;
    }
  }
}